<footer class="border-top footer text-muted bg-light py-3 mt-5">
    <div class="container text-center">
        &copy; 2026 - Contact Manager Application - Build with Clean Architecture & Dapper
    </div>
</footer>