<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Contacts" asp-action="Index">Contact Manager</a>
            <span class="navbar-text text-light">
                I hope you like it :)
            </span>
        </div>
    </nav>
</header>